.form{
    display: flex;
    flex-direction: column;
}
.full{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 33%;
    height: 100%;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 100%;
    background-image: url(../images/IconeinSite/bg-3.png);
}

.cContainer{
    width: 370px;
    padding: 30px;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(57, 116, 87, 0.3);

}
.form-field{
    padding-bottom: 30px;
}
.form-field svg{
    margin-bottom: 15px;
}

.cContainer p, .appPresentation p{
    color: var(--text-Titre-secondaire)
}
.appPresentation{
    text-align: center;
}
.appPresentationTexte{
    display: flex;
justify-content: center;
align-items: center;
}

.textconnection{
    text-align: center;
    padding-bottom: 30px;
}
.btnConn{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#liensregister{
    text-decoration:underline;
}